@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  font-family: "Manrope", sans-serif;

  /* Base */
  --color-background: #D6DBE3;
  --color-surface: #E4E8ED;
  --color-surface-secondary: #EDF0F3;

  /* Contraste fuerte */
  --color-emphasis: #172033;

  /* Texto */
  --color-text: #1E293B;
  --color-text-secondary: #667085;

  /* Bordes */
  --color-border: #B7C0CC;

  /* Brand */
  --color-primary: #B4232D;
  --color-primary-hover: #921C25;
  --color-primary-soft: #E8C7CA;
}

@theme {
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-surface-secondary: var(--color-surface-secondary);

  --color-emphasis: var(--color-emphasis);

  --color-text: var(--color-text);
  --color-text-secondary: var(--color-text-secondary);

  --color-border: var(--color-border);

  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-soft: var(--color-primary-soft);
}

[data-theme="dark"] {
  --color-background: #0B111B;
  --color-surface: #111827;
  --color-surface-secondary: #1B2432;

  --color-emphasis: #F1F5F9;

  --color-text: #E5E7EB;
  --color-text-secondary: #94A3B8;

  --color-border: #334155;

  --color-primary: #D13A43;
  --color-primary-hover: #B4232D;
  --color-primary-soft: #4A171C;
}

.h1 {
  @apply text-5xl font-semibold text-emphasis;
}

.h2 {
  @apply text-4xl font-semibold text-emphasis;
}

.h3 {
  @apply text-3xl font-semibold text-emphasis;
}

.h4 {
  @apply text-2xl font-semibold text-emphasis;
}

.h5 {
  @apply text-xl font-semibold text-emphasis;
}